<div class="col-md-12 header-section custom-header">
  <div class="col-md-12">
    <div class="col-md-12 header-routing-panel">
      <p class="clr-blue">Speakers Program</p>
    </div>

    <div class="col-md-6">
      <h2 class="header-text">Create Event</h2>
    </div>

    <div class="col-md-6 text-right clr-blue header-text-right">
      <span>User Profile</span><span class="glyphicon glyphicon-user"></span>
    </div>
  </div>
</div>
<div class="col-md-12 sub-header header-section">
  <div class="col-md-12">
  <ul>
    <li>Subnav Option 1</li>
    <li>Subnav Option 2</li>
    <li>Subnav Option 3</li>
    <li>Subnav Option 4</li>
    <li>Subnav Option 5</li>
  </ul>
</div>
</div>