.header-section{
    padding: 30px;
}
.header-text{
    color: #1D232F;	font-family: Lato;	font-size: 30px; margin-bottom: 0px; margin-top: 0px;
}   
.header-routing-panel p{
    margin-bottom: 0px;
} 
.clr-blue{
    color: blue;
}
.header-text-right .glyphicon.glyphicon-user{
    margin-left: 10px; 
    border: 1px solid blue;
    border-radius: 50%;
    padding: 4px;
    background: aliceblue;
}
.header-text-right span{
    margin-top: 7px; 
}
.sub-header{
    background: #dee1e8;
    color: #333; 
    padding: 0px 30px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
}

.sub-header ul{
    padding-left: 0px; 
    list-style-type: none; 
    margin-bottom: 0px;
}
.sub-header ul li{
    width:20%;
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    text-decoration: underline;
}








@media only screen and (max-width: 800px) {
    .header-section  { 
        float: left;
        width: 100%;
        padding: 0px;
    }
}