<div class="col-md-12 header-wrapper">
    <div class="container">
        <div class="col-md-6">Logo 1</div>
        <div class="col-md-6 text-right">Log0 2</div>
    </div>
</div>

<router-outlet></router-outlet>

<div class="clearfix"></div>
<div class="col-md-12 footer-wrapper">
    <div class="container nopadding">
        <div class="col-md-6">
                This website is intended only for residents of the United States.
                <div class="clearfix"></div>
                © 2019 Alexion
        </div>
        <div class="col-md-6 text-right">
               LOGO
        </div>
    </div>
</div>