<div class="col-md-12 header-wrapper">
    <div class="container">
        <div class="col-md-6">
            <img src="assets/img/dct-micro.png" class="img-responsive" width="170">
        </div>
        <div class="col-md-6 text-right mr-60">
            <div class="inline-block sponsored-wrap">Sponsored By</div>
            <img src="assets/img/comp-logo.png" class="img-responsive pull-right inline-block" width="180">
        </div>
    </div>
</div>

<div class="clearfix"></div>
<router-outlet></router-outlet>
<div class="clearfix"></div>

<div class="col-md-12 footer-wrapper">
    <div class="container nopadding">
        <div class="col-md-6">
            This website is intended only for residents of the United States.
            <div class="clearfix"></div>
            © 2019 Alexion
        </div>
        <div class="col-md-6 text-right">
            <img src="assets/img/comp-logo.png" class="img-responsive pull-right" width="180">
        </div>
    </div>
</div>