.custom-viewall-btn{
    background: #2a5899;
    color: white;
    padding: 10px 90px;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .font-p-sz{
    font-size: 16px;
  }
  .gly-size{
    font-size: 42px;
  }