<div class="col-md-12 nopadding bg-image">
    <div class="container height100">  
        <div class="col-md-12 text-center mr-tp height100">
         <div class="parent-wrapper">
         <div class="child-wrapper">
            <p class="banner-hd1 BrixSlab">Bringing toghether patients, caregivers and <br>there families living
                with generalized <br> Myasthenia Gravis (gMG).</p>
            <p class="banner-txt1 ">Find An Event Near You.</p>
            <!-- <i class="fa fa-angle-down"></i> -->
            <span class="glyphicon glyphicon-menu-down gly-size"></span>
        </div> 
        </div>    
    </div>   
    </div>
</div>
<div class="clearfix"></div>
<div class="container margin50 marginb50">
    <p class="text-center com-hd1 BrixSlab">Find a gMG event in
        your area</p>
    <p class="text-center font-p-sz">Please select the type of event you are lookinf for and select a state (if applicable).</p>
    <div class="drop-boxes">
        <div class="col-md-4 col-xs-12">
            <div class="drop-height">
                <select class="form-control">
                    <option value="0">Select a State</option>
                    <option value="1">AAA</option>
                    <option value="2">BBB</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="drop-height">
                <select class="form-control">
                    <option value="0">Chooes Event Type</option>
                    <option value="1">AAA</option>
                    <option value="2">BBB</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="search-btn">
                <a href="#">SEARCH</a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 upcoming-events-section nopadding">
    <div class="container">
        <p class="text-center com-hd2 margin50 BrixSlab">Upcoming Events</p>
        <div class="clearfix"></div>
        <mat-card class="first-wrap mat-box-shadow">
            <div class="padding-upcoming">
                <p class="com-hd3 event">2019 MakinG Connections Patient Program</p>
                <div class="margin15">
                    <div class="col-md-8 col-xs-12">
                        <p class="com-hd4">Description</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus
                            convallis magna, at aliquet neque. Ut eu magna lacus. Morbi facilisis viverra consequat.
                            Nunc ut dictum lectus, sit amet fermentum lacus. Curabitur ac pretium metus. Suspendisse
                            tincidunt dapibus felis et interdum</p>
                        <div class="register-btn margin100 marginb50">
                            <a routerLink="/registration/">REGISTER</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <p class="com-hd4">Details</p>
                        <p><b>Event Type</b><br>Live</p>
                        <p><b>Date</b><br>March 1, 2019</p>
                        <p><b>Time</b><br>11.30am - 2.30 pm ET</p>
                        <p><b>Venu</b><br>Maggiano's Little Italy</p>
                        <p><b>Location</b><br><a href="#" class="clr-sky-blue">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</a></p>
                        <div class="register-btn margin50 marginb50 hidden-mg hidden-lg hidden-sm">
                            <a  routerLink="/registration/">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="clearfix"></div>

        <mat-card class="second-wrap mat-box-shadow">
            <div class="padding-upcoming">
                <p class="com-hd3 event">2019 MakinG Connections Webinar</p>
                <div class="margin15">
                    <div class="col-md-8 col-xs-12">
                        <p class="com-hd4">Description</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus
                            convallis magna, at aliquet neque. Ut eu magna lacus. Morbi facilisis viverra consequat.
                            Nunc ut dictum lectus, sit amet fermentum lacus. Curabitur ac pretium metus. Suspendisse
                            tincidunt dapibus felis et interdum</p>
                        <div class="register-btn margin100 marginb50 hidden-xs">
                            <a routerLink="/registration/">REGISTER</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <p class="com-hd4">Details</p>
                        <p><b>Event Type</b><br>Webinar</p>
                        <p><b>Date</b><br>March 2, 2019</p>
                        <p><b>Time</b><br>11.30am - 2.30 pm ET</p>
                        
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="clearfix"></div>

        <mat-card class="third-wrap mat-box-shadow">
            <div class="padding-upcoming">
                <p class="com-hd3 event">2019 MakinG Connections Patient Program</p>
                <div class="margin15">
                    <div class="col-md-8 col-xs-12">
                        <p class="com-hd4">Description</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus
                            convallis magna, at aliquet neque. Ut eu magna lacus. Morbi facilisis viverra consequat.
                            Nunc ut dictum lectus, sit amet fermentum lacus. Curabitur ac pretium metus. Suspendisse
                            tincidunt dapibus felis et interdum</p>
                        <div class="register-btn margin100 marginb50 hidden-xs">
                            <a routerLink="/registration/">REGISTER</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <p class="com-hd4">Details</p>
                        <p><b>Event Type</b><br>Live</p>
                        <p><b>Date</b><br>March 13, 2019</p>
                        <p><b>Time</b><br>6.30am - 8.30 pm ET</p>
                        <p><b>Venu</b><br>Pappadeaux Seafood Kitchen</p>
                        <p><b>Location</b><br><a href="#" class="clr-sky-blue">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</a></p>
                        <div class="register-btn margin50 marginb50 hidden-mg hidden-lg hidden-sm">
                            <a routerLink="/registration/">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="clearfix"></div>


        <mat-card class="forth-wrap mat-box-shadow">
            <div class="padding-upcoming">
                <p class="com-hd3 event">2019 MakinG Connections Webinar</p>
                <div class="margin15">
                    <div class="col-md-8 col-xs-12">
                        <p class="com-hd4">Description</p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus
                            convallis magna, at aliquet neque. Ut eu magna lacus. Morbi facilisis viverra consequat.
                            Nunc ut dictum lectus, sit amet fermentum lacus. Curabitur ac pretium metus. Suspendisse
                            tincidunt dapibus felis et interdum</p>
                        <div class="register-btn margin100 marginb50 hidden-xs">
                            <a routerLink="/registration/">REGISTER</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <p class="com-hd4">Details</p>
                        <p><b>Event Type</b><br>Webinar</p>
                        <p><b>Date</b><br>March 28, 2019</p>
                        <p><b>Time</b><br>8.30am - 10.30 pm ET</p>
                        
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center">
            <button class="btn btn-default custom-viewall-btn text-center">VIEW ALL</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>