<section class="hero">
    <div class="banner-box">
     <div class="container">
        <div class="row">
           <div class="col-md-3 hidden-md hidden-lg">
              <div class="head-logo">
                 <img src="assets/img/GMC-logo-color.png" >    
              </div>
           </div>
           <div class="col-md-10">
              <h1 class="live-mg-events">LIVE gMG EVENTS & WEBINARS</h1>
              <h4 class="meet-listen-ask">meet. listen. ask.</h4>
              <div class="row">
                <div class="col-md-1 col-xs-12 col-sm-12">
                  <img class="quote-img" src="assets/img/Quotes.png">
                </div>
                <div class="col-md-11 col-xs-12 col-sm-12">
                  <h5 class="i-am-better">I am better informed to talk to my doctor about options...great education about gMG!</h5>
                  <p class="making-connection">- MakinG Connections Attendee (2018)</p>
                </div>
              </div>
           </div>
           <div class="col-md-2 hidden-xs hidden-sm">
              <div class="head-logo pull-right">
                 <img src="assets/img/GMC-logo-color.png" >    
              </div>
           </div>
        </div>
     </div>
    </div>       
  </section>

  <section class="">
     <div class="container">
        <div class="search-box section-about">
          <div class="row">
          <div class="col-md-12 hidden-xs hidden-sm">
            <div class="type">
              <div class="oval-copy"><a href="" class="">A</a></div>
              <div class="oval"><a href="" class="large-type">A</a></div>
            </div>
          </div>
          <h5 class="alexion-gmg-events"><span class="pink">Alexion gMG events are held all across the country and online.</span><br>To find a gMG event from Alexion in your area, please select the type of event you are looking<br> for and select a state (if applicable).</h5>
          <div class="find-event-block">
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 no-pad-mar width-1024-state">
              <div class="select-wrap">
                <h3 class="selct-state">Select Your State:</h3>
                <div class="form-control">
                  <select>
                    <option value="1">State</option>
                    <option value="2">Alabama</option>
                    <option value="3">Kentucky</option>
                    <option value="4">Washington</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 width-1024-type">
              <div class="select-wrap">
                <h3 class="selct-state">Select Type:</h3>
                <div class="select-inline-wrap">
                  <div class="selected-wrap">
                    <i class="fa fa-close"></i><p>Webinar</p>
                  </div>
                  <div class="selected-wrap">
                    <i class="fa fa-close"></i><p>LiveEvent</p>
                  </div>
              </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 no-pad-mar">
            <div class="search-wrap-button">
              <a href="#" class="btn btn-primary">Find Your Event</a>
            </div>
            </div>
          </div>
        </div>
      </div>
     </div>         
  </section>
  <section class="search-result">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2 class="search-result-heading">Event Search Results</h2>
            </div>
      </div>  
      <div class="search-result-wrap">
        <div class="containerr">
          <div class="row">
              
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="search-result-date">
                      <h3>04</h3>
                      <div class="date-wrap">
                      <h4>March</h4>
                      <h5>1PM EST</h5>
                      </div>
                  </div>
               </div>                     
               <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-pad-mar">
                 <div class="search-result-content-wrap">
                     <div class="search-result-content">
                    <h3>MakinG Connections</h3>
                    <h4><span>Speaker:</span> Yashima Patel </h4>
                    <h4><span>Location:</span> Budd’s Broiler, Richmond WA</h4>
                    <div class="hidden-md hidden-lg">
                  <div class="search-result-img">
                    <img src="assets/img/live-event.png" alt="">
                    <h4>Live Event</h4>
                    </div>
                   <div class="search-result-img">
                    <img src="assets/img/Map-Icon.png" alt="">
                    <h4>Map It</h4>
                  </div>
               </div>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>
                    
                </div>
                    <div class="btn-wrap">
                      <button class="btn btn-primary">Register</button>
                    </div>
                  </div>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-12 hidden-xs hidden-sm">
                  <div class="search-result-img">
                    <img src="assets/img/live-event.png" alt="">
                    <h4>Live Event</h4>
                    </div>
                    <div class="search-result-img">
                    <img src="assets/img/Map-Icon.png" alt="">
                    <h4>Map It</h4>
                  </div>
               </div>
          </div> 
        </div>
      </div>
      <div class="search-result-wrap">
        <div class="containerr">
          <div class="row">
              
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="search-result-date">
                      <h3>27</h3>
                      <div class="date-wrap">
                      <h4>March</h4>
                      <h5>5.30 PM EST</h5>
                      </div>
                  </div>
               </div>
               
               <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-pad-mar">
                <div class="search-result-content-wrap">
                  <div class="search-result-content">
                    <h3>MakinG Connections</h3>
                    <h4><span>Speaker:</span> Yashima Patel </h4>
                    <h4><span>Location:</span> Webinar</h4>
                      <div class="hidden-md hidden-lg">
                  <div class="search-result-img">
                    <img src="assets/img/webinar.png" alt="">
                    <h4>Webinar</h4>
                  </div>
               </div>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>
                    </div>
                    <div class="reg-form">
                      <h3 class="form-heading">Invitee Information</h3>
                      <div class="form-wrap">
                          <form action="/action_page.php">
                            <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group form-control">
                                    <label for="email"><span class="asterisk">*</span>First Name:</label>
                                    <input type="email" class="form-control" id="email">
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-control">
                                    <label for="email"><span class="asterisk">*</span>Last Name:</label>
                                    <input type="email" class="form-control" id="email">
                              </div>
                            </div>
                          </div>
                            <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group form-control">
                                    <label for="email"><span class="asterisk">*</span>Email Address:</label>
                                    <input type="email" class="form-control" id="email">
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-control">
                                    <label for="email"><span class="asterisk">*</span>Select Country</label>
                                    <select>
                                      <option value="">India</option>
                                      <option value="">UK</option>
                                        <option value="">USA</option>
                                        <option value="">Canada</option>
                                        <option value="">Russia</option>
                                    </select>
                              </div>
                            </div>
                          </div>
                            <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group form-control">
                                    <label for="email">Address</label>
                                    <input type="email" class="form-control" id="email">
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-control">
                                    <label for="email">City</label>
                                    <input type="email" class="form-control" id="email">
                              </div>
                            </div>
                          </div>
                            <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group form-control">
                                    <label for="email">Address 2</label>
                                    <input type="email" class="form-control" id="email">
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-control">
                                    <label for="email">State/Province</label>
                                    <select>
                                      <option value="1">Surrey</option>
                                      <option value="1">Aryshire</option>
                                        <option value="1">Walton-on-Thames</option>
                                        <option value="1">Berkshire</option>
                                    </select>
                              </div>
                            </div>
                          </div>
                            <div class="row clearfix">
                            <div class="col-md-3 custom-input-width">
                              <div class="form-group form-control padright-0">
                                    <label for="email"><span class="asterisk">*</span>Zip Code</label>
                                    <input type="email" class="form-control" id="email">
                              </div>
                            </div>
                              <div class="col-md-3 custom-input-width">
                              <div class="form-group form-control confirm-zip">
                                    <label for="email"><span class="asterisk">*</span>Confirm Zip Code</label>
                                    <input type="email" class="form-control" id="email">
                              </div>
                              </div>
                            </div>                                                               
                            <div class="content">
                              <h3>This program is sponsored by Alexion Pharmaceuticals, Inc.</h3>
                              <p>Please note, the MG MakinG Connections™ Programs are intended for U.S. Patients and Caregivers only. For information on Alexion programs for healthcare professionals, please contact <a href="mailto:info@thepxgroup.com">info@thepxgroup.com</a></p>
                            </div>
                            <div class="content">
                              <h3>Please fill out the information below. (*) connotes required field</h3>
                              <p class="b-m-small">* Please let us know why you are attending today by selecting one of the following. Please note, the MG MakinG Connections™ Programs are intended for U.S. Patients and Caregivers only.</p> 
                              <div class="form-control">
                              <select>
                              <option value="1">Select Appropriate Response</option>
                              <option value="1">Select Appropriate Response</option>
                                <option value="1">Select Appropriate Response</option>
                                <option value="1">Select Appropriate Response</option>
                              </select>  
                              </div>
                            </div>
                            <div class="content">
                              <h3 class="text-light">* Are you currently taking an Alexion product?</h3>
                              <div class="form-control">
                                  <select>
                                  <option value="1">Select Appropriate Response</option>
                                  <option value="1">Select Appropriate Response</option>
                                  <option value="1">Select Appropriate Response</option>
                                  <option value="1">Select Appropriate Response</option>
                                </select>  
                                </div>
                            </div>
                            <div class="content">
                              <h3 class="text-light">How did you hear about the MakinG Connections™ education program?</h3>
                              <div class="form-control">
                                  <select>
                                  <option value="1">Select Appropriate Response</option>
                                  <option value="1">Select Appropriate Response</option>
                                  <option value="1">Select Appropriate Response</option>
                                  <option value="1">Select Appropriate Response</option>
                                </select>  
                                </div> 
                            </div>
                            <div class="content form-control">
                              <p>
                                <input type="checkbox"><span>I agree to my personal data being processed in this Registration Portal for the purposes of registering my interest in attending an upcoming patient program sponsored by Alexion.</span>
                              </p>
                              <p>
                                <input type="checkbox"> <span>I give permission to Alexion, or third-party companies working on behalf of Alexion, permission to contact me for marketing purposes, otherwise provide me with information about Alexion’s products, services, and programs or other topics of interest, conduct market research, or otherwise ask me about my experience with or thoughts about such topics in accordance with Alexion's Privacy Notice at Alexion. Alexion will not sell or transfer my information to any unrelated third party for marketing purposes without my express permission. I understand that I can opt-out of these communications at any time by contacting Alexion, as provided for on the communication. For more information on how your information may be used, please review Alexion's Privacy Notice at Alexion.com.</span>   
                              </p>
                            </div>
                            <div class="btn-wrap">
                              <button type="submit" class="btn btn-transparent">Cancel</button>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>                              
                      </div>
                    </div>
                  </div>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-12 hidden-xs hidden-sm">
                  <div class="search-result-img">
                    <img src="assets/img/webinar.png" alt="">
                    <h4>Webinar</h4>
                  </div>
               </div>
          </div> 
        </div>
      </div>
      <div class="search-result-wrap">
        <div class="containerr">
          <div class="row">
              
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <div class="search-result-date">
                      <h3>27</h3>
                      <div class="date-wrap">
                      <h4>March</h4>
                      <h5>5.30 PM EST</h5>
                      </div>
                  </div>
               </div>
               
               <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-pad-mar">
                <div class="search-result-content-wrap">
                  <div class="search-result-content">
                    <h3>MakinG Connections</h3>
                    <h4><span>Speaker:</span> Yashima Patel </h4>
                    <h4><span>Location:</span> Webinar</h4>
                      <div class="hidden-md hidden-lg">
                  <div class="search-result-img">
                    <img src="assets/img/webinar.png" alt="">
                    <h4>Webinar</h4>
                  </div>
               </div>
                    </div>
                    <div class="search-result-content thank-you-section">
                      <h3>Thank You. <br> Your Registration Has Been Submitted</h3>
                      <p><strong>Please check your email for conformation.</strong></p>
                      <p>Please check your email for conformation. If you would like to register addional guests, please click here to begin the registration process.</p>
                    </div>
                  </div>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-12 hidden-xs hidden-sm">
                  <div class="search-result-img">
                    <img src="assets/img/webinar.png" alt="">
                    <h4>Webinar</h4>
                  </div>
               </div>
          </div> 
        </div>
      </div>
      <div class="search-result-wrap">
          <div class="containerr">
            <div class="row">
                
                 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="search-result-date">
                        <h3>04</h3>
                        <div class="date-wrap">
                        <h4>March</h4>
                        <h5>1PM EST</h5>
                        </div>
                    </div>
                 </div>                     
                 <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-pad-mar">
                   <div class="search-result-content-wrap">
                       <div class="search-result-content">
                      <h3>MakinG Connections</h3>
                      <h4><span>Speaker:</span> Yashima Patel </h4>
                      <h4><span>Location:</span> Budd’s Broiler, Richmond WA</h4>
                      <div class="hidden-md hidden-lg">
                    <div class="search-result-img">
                      <img src="assets/img/live-event.png" alt="">
                      <h4>Live Event</h4>
                      </div>
                     <div class="search-result-img">
                      <img src="assets/img/Map-Icon.png" alt="">
                      <h4>Map It</h4>
                    </div>
                 </div>
                      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>
                      
                  </div>
                      <div class="btn-wrap">
                        <button class="btn btn-primary">Register</button>
                      </div>
                    </div>
                 </div>
                 <div class="col-lg-2 col-md-2 col-sm-12 hidden-xs hidden-sm">
                    <div class="search-result-img">
                      <img src="assets/img/live-event.png" alt="">
                      <h4>Live Event</h4>
                      </div>
                      <div class="search-result-img">
                      <img src="assets/img/Map-Icon.png" alt="">
                      <h4>Map It</h4>
                    </div>
                 </div>
            </div> 
          </div>
      </div>
     </div>
  </section>
  <section class="footer">
     <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-md hidden-lg">
            <img src="assets/img/logo-alexion-ko.png" class="footer-logo" alt="">
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <p class="footer-content pull-left">This website is intended only for residents of the United States. <br>© 2019 Alexion</p>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-xs hidden-sm">
            <img src="assets/img/logo-alexion-ko.png" class="footer-logo pull-right" alt="">
           </div>
         </div>
       </div>
   </section>